body {
  font-family: Arial, sans-serif;
  background: #f2f2f2;
  text-align: center;
  margin: 0;
  padding: 20px;
}

/* Links */
.cart-link,
.back-link {
  display: inline-block;
  margin: 15px;
  text-decoration: none;
  color: white;
  background: black;
  padding: 8px 15px;
  border-radius: 5px;
}

/* Products */
#products {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  margin-top: 20px;
}

/* Cards */
.card {
  background: white;
  border-radius: 8px;
  width: 220px;
  padding: 15px;
  box-shadow: 0 0 5px gray;
}

.card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.card button {
  background: green;
  color: white;
  border: none;
  padding: 7px 12px;
  cursor: pointer;
  border-radius: 5px;
}

.card button:hover {
  background: darkgreen;
}

/* Cart */
.cart-item {
  background: white;
  margin: 10px auto;
  padding: 10px;
  width: 300px;
  border-radius: 5px;
}

.cart-item button {
  background: red;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
}
